<div class= "container-fluid">
  <h1><%= @event.title%></h1>
  <p>Location: <%= @event.location %></p>
  <p>Date: <%= @event.date %></p>
  <p>Time: <%= @event.time %></p>
  </br>
  </br>

  <h3>Who is comming? </h3>
  <p><%= show_invitees(@event_invitees) %></p>
